h1{
	color: #6c6464;
  
}
p{
	font-size: 20px;
    font-weight: bold;
}
.reg-form{
	  
	padding: 70px 0 100px;
	z-index: 1;
}
.form{
	width: 550px;
    margin: 0 auto;
    margin-top: 50px;
}
form input{
    width: 100%;
    border: 2px solid #6c6464;
    padding: 18px;
    margin-bottom: 21px;
    background: beige;
    border-radius: 5px;
}