{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #CC0000;
}
.topnav a {
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active 
{
  background-color: #CC0000 ;
  color: white;
}
.topnav:hover {
  background-color: #660033;
}
